html {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background:#BFC7DE;
    text-align: center;
}

h1{
    color:#353F5E;
    /* text-align: center; */
}

fieldset {
    text-align: left;
}